PROJECT_NAME=Infoboard
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=infoboard_user
POSTGRES_PASSWORD=secretpw
POSTGRES_DB=infoboard_db
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=adminpw
VITE_API_URL=http://localhost:8000
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SECRET_KEY=abfsbapkjkjadcnkjskjbpaijbifjhiuwaibijsajbjvabi
